* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1#logo {
    font-size: 24px;
    font-weight: bold;
}

div.one {
    background-color: #1f2937;
    color: #f9faf8;
    font-family: Roboto;
    padding: 20px 270px;
    display: flex;
    flex-direction: column;
}

div.info {
    /*border: 2px solid green;*/

    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    /*border: 2px solid red;*/

    list-style-type: none;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

li {
    font-size: 18px;

    flex: 1 1 auto;
}

div.content {
    /*border: 2px solid yellow;*/

    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 100px;
}

div.partone {
    /*border: 2px solid orange;*/
    
    width: 20px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

div.partone h1 {
    font-size: 48px;
    font-weight: 800;
    text-align: left;
    padding-right: 120px;
}

div.partone p {
    text-align: left;
    font-size: 18px;
    padding-right: 180px;
}

div.partone a {
    background-color: #3882F6;
    padding: 10px 30px;
    font-weight: bold;
    color: #f9faf8;
    text-decoration: none;
    border-radius: 5px;
}

div.partwo {
    /*border: 2px solid pink;*/

    flex: 1 1 0;
    background-color: rgb(124, 124, 124);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.partwo p {
    font-size: 18px;
    color: #e5e7eb;
}